<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1, maximum-scale=3">
    <meta name="format-detection" content="telephone=no">
    <meta name="facebook-domain-verification" content="0yvbvc9q3x1tlc8mhbpx8b3xxtvaej" />
    <meta name="description" content="Moto Yamaha 2021 luôn thuộc TOP các loại xe máy mới ra bán chạy hiện nay. Nhiều người chọn mua xe máy Yamaha do thiết kế thời trang và tiết kiệm nhiên liệu.
    ">
    <meta property="og:description" content="Moto Yamaha 2021 luôn thuộc TOP các loại xe máy mới ra bán chạy hiện nay. Nhiều người chọn mua xe máy Yamaha do thiết kế thời trang và tiết kiệm nhiên liệu.
    " />
    <meta property="og:title" content="Giá các sản phẩm xe gắn máy mới nhất 2021 từ Yamaha Việt Nam
    " />
    <meta property="og:url" content="https://yamaha-motor.com.vn/xe" />
    <meta property="og:site_name" content="Yamaha Motor Việt Nam" />
    <meta name="twitter:title" content="Giá các sản phẩm xe gắn máy mới nhất 2021 từ Yamaha Việt Nam
    " />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Moto Yamaha 2021 luôn thuộc TOP các loại xe máy mới ra bán chạy hiện nay. Nhiều người chọn mua xe máy Yamaha do thiết kế thời trang và tiết kiệm nhiên liệu.
    " />
    <title>Nhóm 4-ASP.NET</title>

    <style media="all">
        .main-slider__item a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 3;
        }

        .product-sublist__img img {
            max-width: 100%;
        }

        .newsDetail .post_content table img {
            margin-bottom: 0;
        }

        @@media (max-width:767px) {
            .newsDetail .post_content table tr td {
                padding: 5px;
            }
        }
    </style>

    <script>
        var IS_PSI = navigator.userAgent.includes("Google Page Speed") !== false || navigator.userAgent.includes(
            "Lighthouse") !== false || navigator.userAgent.includes("Speed Insights") !== false;
        if (!IS_PSI) {
            document.addEventListener('DOMContentLoaded', function () {
                $(window).on('load', function () {
                    setTimeout(function () {
                        if (location.origin == 'https://yamaha-motor.com.vn') {
                            (function (w, d, s, l, i) {
                                w[l] = w[l] || [];
                                w[l].push({
                                    'gtm.start': new Date().getTime(),
                                    event: 'gtm.js'
                                });
                                var f = d.getElementsByTagName(s)[0],
                                    j = d.createElement(s),
                                    dl = l != 'dataLayer' ? '&l=' + l : '';
                                j.async = true;
                                j.src =
                                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                                f.parentNode.insertBefore(j, f);
                            })(window, document, 'script', 'dataLayer', 'GTM-P3Z7CL7');
                        } else {
                            (function (w, d, s, l, i) {
                                w[l] = w[l] || [];
                                w[l].push({
                                    'gtm.start': new Date().getTime(),
                                    event: 'gtm.js'
                                });
                                var f = d.getElementsByTagName(s)[0],
                                    j = d.createElement(s),
                                    dl = l != 'dataLayer' ? '&l=' + l : '';
                                j.async = true;
                                j.src =
                                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                                f.parentNode.insertBefore(j, f);
                            })(window, document, 'script', 'dataLayer', 'GTM-KNSK89T');
                        }
                    }, 500)
                });
            });
        }
    </script>
    <script>
        function getCookie(e) {
            for (var o = e + "=", t = document.cookie.split(";"), i = 0; i < t.length; i++) {
                for (var r = t[i];
                    " " == r.charAt(0);) r = r.substring(1);
                if (0 == r.indexOf(o)) return r.substring(o.length, r.length)
            }
            return ""
        }

        function setCookie(e, o, t) {
            var i = new Date;
            i.setTime(i.getTime() + 24 * t * 60 * 60 * 1e3);
            var r = "expires=" + i.toUTCString();
            document.cookie = e + "=" + o + ";" + r + ";path=/"
        }

        if (!IS_PSI) {
            var database = 'test_ymvn_log';
            var sscDomain = 'yamaha.alive-web.site';
            var sscServer = 'yamaha.alive-web.site';
            if (location.origin == 'https://yamaha-motor.com.vn') {
                database = 'ymvn_log';
                sscDomain = 'yamaha-motor.com.vn';
                sscServer = 'ssc.yamaha-motor.com.vn';
                ! function (a, c) {
                    if (void 0 === c[a]) {
                        c[a] = function () {
                            c[a].clients.push(this);
                            this._init = [Array.prototype.slice.call(arguments)]
                        };
                        c[a].clients = [];
                        for (var b = function (e) {
                            return function () {
                                return this["_" + e] = this["_" + e] || [], this["_" + e].push(Array
                                    .prototype.slice.call(arguments)), this
                            }
                        }, d =
                                "addRecord blockEvents fetchServerCookie fetchGlobalID fetchUserSegments resetUUID ready setSignedMode setAnonymousMode set trackEvent trackPageview trackClicks unblockEvents"
                                    .split(" "), f = 0; f < d.length; f++) {
                            var g = d[f];
                            c[a].prototype[g] = b(g)
                        }
                        b = document.createElement("script");
                        b.type = "text/javascript";
                        b.async = !0;
                        b.src = ("https:" === document.location.protocol ? "https:" : "http:") +
                            "//cdn.treasuredata.com/sdk/2.3/td.min.js";
                        d = document.getElementsByTagName("script")[0];
                        d.parentNode.insertBefore(b, d)
                    }
                }("Treasure", this);
            } else {
                ! function (t, e) {
                    if (void 0 === e[t]) {
                        e[t] = function () {
                            e[t].clients.push(this), this._init = [Array.prototype.slice.call(arguments)]
                        }, e[t].clients = [];
                        for (var r = function (t) {
                            return function () {
                                return this["_" + t] = this["_" + t] || [], this["_" + t].push(Array
                                    .prototype.slice.call(arguments)), this
                            }
                        }, s = ["addRecord", "blockEvents", "fetchServerCookie", "fetchGlobalID",
                            "fetchUserSegments", "resetUUID", "ready", "setSignedMode", "setAnonymousMode",
                            "set", "trackEvent", "trackPageview", "trackClicks", "unblockEvents"
                        ], n = 0; n < s.length; n++) {
                            var c = s[n];
                            e[t].prototype[c] = r(c)
                        }
                        var o = document.createElement("script");
                        o.type = "text/javascript", o.async = !0, o.src = ("https:" === document.location.protocol ?
                            "https:" : "http:") + "//cdn.treasuredata.com/sdk/2.3/td.min.js";
                        var a = document.getElementsByTagName("script")[0];
                        a.parentNode.insertBefore(o, a)
                    }
                }("Treasure", this);
            }

            var optionTD = {
                host: "tokyo.in.treasuredata.com",
                writeKey: "161/b268157bef4f2b907320a3487a38a0e05dd4d474",
                database: database,
                startInSignedMode: !0,
                sscDomain: sscDomain,
                sscServer: sscServer,
                useServerSideCookie: !0
            };
            console.log(optionTD);
            var td = new Treasure(optionTD);

            td.set("$global", "td_global_id", "td_global_id");

            function fireEvents() {
                td.trackClicks();
                td.trackPageview("ymvn_web_log")

            }
            var successCallbackSSC = function (a) {
                td.set("$global", {
                    td_ssc_id: a
                });
                setCookie('td_ssc_id', a, 1);
                fireEvents()
            },
                errorCallbackSSC = function (a) {
                    fireEvents()
                };

            td.fetchServerCookie(successCallbackSSC, errorCallbackSSC);
        }
    </script>
    <meta property="fb:app_id" content="389034368644483">
    <link rel="icon" href="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/favicon.ico"
          type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="~/wwwroot/css/main.css">
</head>

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3Z7CL7" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <header class="header">
        @Html.Partial("_Header")
    </header>
    <nav class="navigation-sp">
        @Html.Partial("_Nav")
    </nav>
    <main class="main">
        <div class="overlay" style="background-color: #ccc">
            <div class="overlay-content">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="footer">
        @Html.Partial("_Footer")
    </footer>
    <script src="~/wwwroot/js/main.js"></script>

    </noscript>
    <script data-noptimize="1">
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.loadMode = 1;
    </script>
    <script async data-noptimize="1"
            src='https://yamaha-motor.com.vn/wp/wp-content/plugins/autoptimize/classes/external/js/lazysizes.min.js?ao_version=2.6.1'>
    </script>
    <link rel='stylesheet' id='product_css1-css'
          href='https://yamaha-motor.com.vn/assets/css/pages/product.css?ver=1.0.90' type='text/css' media='all' />

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var w = $(window).width();
            $(".product-list__item-img").each(function (index, i) {
                if (w >= 768) {
                    if ($("html").hasClass('webp')) $(i).attr('src', $(i).attr('data-pcwebp'));
                    else $(i).attr('src', $(i).attr('data-pc'));
                } else {
                    $(".page-slide__video-item").css({
                        'background-image': 'url(https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/youtube-thumb-downloaded/U3Nqx7BbRqs.jpg)',
                    })
                    if ($("html").hasClass('webp')) $(i).attr('src', $(i).attr('data-spwebp'));
                    else $(i).attr('src', $(i).attr('data-sp'));
                }
            })
            $(window).on('load', function (event) {
                if (supportsVideoType('h264')) {
                    setTimeout(function () {
                        $(".page-slide__video-item").append(
                            '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/U3Nqx7BbRqs?enablejsapi=1&autoplay=1&fs=0&iv_load_policy=3&rel=0&showinfo=0&playsinline=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
                        );
                    }, 500)
                } else {
                    $(".page-slide__video-item").css({
                        'background-image': 'url(https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/youtube-thumb-downloaded/U3Nqx7BbRqs.jpg)',
                    })
                }
            });

        });
    </script>
    <script defer
            src="https://yamaha-motor.com.vn/wp/wp-content/cache/autoptimize/js/autoptimize_31d8d409d2efa8ec1c5575c85183e12b.js">
    </script>
    @RenderSection("Scripts",required: false) 
</body>

</html>